@import url('https://fonts.googleapis.com/css?family=Francois+One|Nanum+Pen+Script|Domine|Merriweather+Sans&subset=latin-ext');
/*
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Francois One', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Domine', serif;
*/

body.ownlist {
    /* Changes body background */
    background-image: url("https://rawgit.com/The-Brook/CSS-layouts/master/Rokuaka-MAL-layout/images/background.jpg") !important;
    background-color: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#ghostery-purple-box {
  /* Disables Ghostery box */
  display: none !important
 }

div#list-container.list-container {
    /* List style */
    background-color: rgba(75,71,121,0.75) !important;
    border: none;
}

.list-menu-float .icon-menu {
    /* Left menu style */
    background-color: rgba(75,71,121,0.75) !important;
    border: none;
}

.list-table .list-table-data .data.title .link .sort {
    /* Anime names */
    color: #4B4779 !important;
    font-size: 1.5em !important;
    font-weight: bold;
    font-family: 'Francois One', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

div#status-menu.status-menu-container, .status-button, tr.list-table-header {
    /* Status headers */
    background-color: #4B4779 !important;
    font-size: 14px;
    color: #FFFFFF !important;
}

.status-button::after{
    background-color: #FFFFFF !important;
}

.list-unit .list-status-title .text{
    /* Table title */
    background-color: #4B4779 !important;
    color: #FFFFFF !important;
}

#show-stats-button, #advanced-options-button {
    /* Text near icons in the header */
    font-family: 'Francois One', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background-color: #4B4779 !important;
    color: #FFFFFF !important;
}

.fa-filter, .fa-bar-chart, .fa-fa-search, .stats {
    /* Icons in the header*/
    color: #FFFFFF !important;
}

.fa-filter:hover, .fa-bar-chart:hover, .fa-fa-search:hover {
    /* Hover on icons in the header*/
    color: #FFFFFF !important;
}

span.content-status {
    font-family: 'Domine' !important;
    font-weight: bold;
    color: #FFFFFF !important;
}

tbody tr.list-table-header {
    /* Table header */
    background-color: #323051 !important;
    font-family: 'Francois One', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !important;
    color: #FFFFFF !important;
}

.icon-menu .profile {
    /* Profile image style */
    border-radius: 100%;
    opacity: 0.75;
}

.icon-menu .profile:hover {
    /* Profile image animation */
    animation-name: profileHover;
    animation-duration: 0.5s;
}

.header .header-menu {
    /* Changes the font of "Viewing [user] anime list" */
    font-family: 'Domine', serif;
}

div.header .header-title {
    /* Change the small MyAnimeListLogo */
    background-image: url("https://rawgit.com/The-Brook/CSS-layouts/master/Rokuaka-MAL-layout/images/mal-logo-small.png") !important;
}

#copyright:after {
    /* Custom copyright text */
    content: "Modern layout made by The_Br00k";
}

div#cover-image-container{
    /* Removes title logo */
    display: none;
}

#cover-image {
    /* Removes normal logo */
    visibility: hidden;
    content: none;
}

/* Completion */
td.data.status.completed {

}

/* Tags */
.data.tags {
    font-weight: bold;
    font-family: 'Merriweather Sans';
}

.data.tags a[href~="tag"]:hover {
    filter: brightness(150%) !important;
    -webkit-filter: brightness(150%) !important;
}

.data.tags a[href$="mecha"] {
    color: #D33260 !important;
}

.data.tags a[href$="combat"] {
    color: #72131E !important;
}

.data.tags a[href$="harem"] {
    color: #E86584 !important;
}

.data.tags a[href$="romance"] {
    color: #D8009B !important;
}

.data.tags a[href$="ecchi"] {
    color: #EA5DC6 !important;
}

.data.tags a[href$="slice%20of%20life"] {
    color: #37C42B !important;
}

.data.tags a[href$="music"] {
    color: #FFFB11 !important;
}

.data.tags a[href$="comedy"] {
    color: #FF7338 !important;
}

.data.tags a[href$="school"] {
    color: #FFC03A !important;
}

.data.tags a[href$="magic"] {
    color: #A256FF !important;
}

.data.tags a[href$="fantasy"] {
    color: #FFE66B !important;
}

.data.tags a[href$="drama"] {
    color: #293A4C !important;
}

.data.tags a[href$="horror"] {
    color: #7F0400 !important;
}

.data.tags a[href$="yuri"] {
    color: #66FFA5 !important;
}

.data.tags a[href$="yaoi"] {
    color: #7F00FF !important;
}

.data.tags a[href$="isekai"] {
    color: #1414FF !important;
}

.data.tags a[href$="games"] {
    color: #007FFF !important;
}

.data.tags a[href$="psychological"] {
    color: #7FFF00 !important;
}

.data.tags a[href$="parody"] {
    color: #319E3B !important;
}

.data.tags a[href$="commercial"] {
    color: #9B5700 !important;
}

.data.tags a[href$="food"] {
    color: #992C5F !important;
}

/* Animations */

@keyframes profileHover {
    from {
        opacity: 0.75;
    }

    to {
        opacity: 1;
    }
}
