@import url('https://fonts.googleapis.com/css?family=Francois+One|Nanum+Pen+Script|Merriweather+Sans&subset=latin-ext');
/*
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Francois One', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
*/

#copyright:after {
/* Custom copyright text */
content: "Modern layout made by The_Br00k";
}

