@import url('https://fonts.googleapis.com/css?family=Francois+One|Nanum+Pen+Script|Domine|Merriweather+Sans&subset=latin-ext');
/*
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Francois One', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
*/

body.ownlist-anime {
    background-image: image("https://rawgit.com/The-Brook/CSS-layouts/master/Rokuaka-MAL-layout/images/background.jpg") !important;
    background-color: none !important;
}

.header .header-menu {
    /* Changes the font of "Viewing [user] anime list" */
    font-family: 'Domine', serif;
}

#copyright:after {
    /* Custom copyright text */
    content: "Modern layout made by The_Br00k";
}

#cover-image {
    /* Changes the MyAnimeList.net logo (must be a transparency supporting file) */
    visibility: hidden;
    background-image: image("https://rawgit.com/The-Brook/CSS-layouts/master/Rokuaka-MAL-layout/images/mal-logo.png");
    z-index: 3;
}
